In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([["fchollet/keras", 11302], ["openai/universe", 4350], ["pandas-dev/pandas", 8168]])

In [4]:
df.shape

(3, 2)

In [5]:
df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [8]:
df = pd.DataFrame([["fchollet/keras", 11302], ["openai/universe", 4350], ["pandas-dev/pandas", 8168]], columns=["repository", "stars"])

In [9]:
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [10]:
df["stars"]

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [11]:
df["repository"]

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repository, dtype: object

In [13]:
df["stars"].mean()

7940.0

In [14]:
df["stars"].median()

8168.0

In [15]:
df.iloc[1]

repository    openai/universe
stars                    4350
Name: 1, dtype: object

In [16]:
df.iloc[0]

repository    fchollet/keras
stars                  11302
Name: 0, dtype: object

In [18]:
df.iloc[1]["stars"]

4350